{% extends 'task_api/base.html' %}
{% load static %}
{% load sass_tags %}

{% block title %}Mailing Msgs{% endblock %}
{% block link_style %}<link href="{% sass_src 'sass/u.sass' %}" rel="stylesheet" type="text/css">{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="u">
        <div class="u__container">
            <div class="u__content" style="justify-content: center; gap: 40px;">
                <p class="u-title">Msgs {{ msgs.values.0.mailing_id }}</p>
                <div class="u-help" style="">
                    <div class="u__fields" style="width: 100%;">
                    <p class="u-text4" style="padding: 0 4em; max-width: 500px;">The green stroke indicates the sent message.</p>
                    {% for msg in msgs %}
                        <div style="
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            padding: 10px 20px;
                            gap: 5px;
                            border-radius: 15px;
                            {% if msg.status %}
                            border: 2px solid #5fff5f;
                            {% else %}
                            border: 2px solid #797979;
                            {% endif %}
                            ">
                            <div style="display: flex;flex-direction: row;gap: 20px;justify-content: center;">
                                <p class="u-text2" style="color: #f5f5f5 !important; text-align: center">Date:</p>
                                <input class="u-text4" value="{{ msg.date|date:"Y-m-d\TH:i" }}" type="datetime-local" style="filter: invert(0.9)" name="time_start_point">
                            </div>
                            <div style="display: flex;flex-direction: row; gap: 10px;justify-content: center;">
                                <p class="u-text4" style="color: #f5f5f5 !important; text-align: center">Client id:</p>
                                <p class="u-text4">{{ msg.client_id }}</p>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
