{% extends 'task_api/base.html' %}
{% load static %}
{% load sass_tags %}

{% block title %}Create Mailing{% endblock %}
{% block link_style %}<link href="{% sass_src 'sass/u.sass' %}" rel="stylesheet" type="text/css">{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="u">
        <div class="u__container">
            <div class="u__content" style="justify-content: center; gap: 40px;">
                <p class="u-title">Create Mailing</p>
                <div class="u-help" style="">
                    <form class="u__form" method="post" enctype="multipart/form-data"
                          action="{% url 'mailing-list' %}">{% csrf_token %}
                        <div class="u__fields" style="width: 100%;">
                            <p class="u-text2">Please specify dates in UTC+0</p>
                            <label style="display: flex; flex-direction: column; justify-content: center;">
                                <textarea required class="u__field no_scrollbar u_input" name="msg" rows="80" cols="80"
                                          style="
                                                min-width: 90%;
                                                max-width: 600px;
                                                min-height: 150px;
                                                padding: 1em ;"
                                placeholder="Message*"></textarea>
                            </label>

                            <div style="display: flex; flex-direction: row; justify-content: center; gap: 10px;">
                                <label style="display: flex; flex-direction: column; justify-content: center;">
                                    <p class="u-text">Filters:</p>
                                </label>
                                <label style="display: flex; flex-direction: column; justify-content: center;">
                                    <input required type="text" class="u__field u-text2"
                                           value='{"tag": "green", "operator_code": "777"}' name="filter"
                                           style="max-height: 40px; width: 100%; padding: 0 5px">
                                </label>
                            </div>

                            <p class="u-text">Time to start/end mailing*</p>

                            <div style="display: grid; grid-template: 1fr 1fr / 1fr 1fr; gap: 10px;">
                                <p class="u-text2">Starts with*</p>
                                <input required type="datetime-local" name="date_start" style="filter: invert(0.8); padding-left: 7px; border-radius: 4px;">
                                <p class="u-text2">Ends with*</p>
                                <input required type="datetime-local" name="date_end" style="filter: invert(0.8); padding-left: 7px; border-radius: 4px;">
                            </div>

                            <p class="u-text">Time to send msgs</p>

                            <div style="display: grid; grid-template: 1fr 1fr / 1fr 1fr; gap: 10px;">
                                <p class="u-text2">Starts with</p>
                                <input type="time" name="time_start_point" style="filter: invert(0.8); padding-left: 7px; border-radius: 4px;">
                                <p class="u-text2">Ends with</p>
                                <input type="time" name="time_end_point" style="filter: invert(0.8); padding-left: 7px; border-radius: 4px;">
                            </div>

                            <input type="submit" class="u-submit2" value="Create">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let inputs = document.getElementsByClassName('u__field');
    for (let i = 0; i < inputs.length; i++) {
        inputs[i].addEventListener('blur', function (e) {
            if (inputs[i].value !== '') {
                inputs[i].style.borderColor = '#ff5f6c';
            } else {
                inputs[i].style.borderColor = 'rgba(244, 247, 245, 0.7)';
            }
        });
    }
</script>
{% endblock %}
