{% extends 'task_api/base.html' %}
{% load static %}
{% load sass_tags %}

{% block title %}Mailing Admin Panel{% endblock %}
{% block link_style %}<link href="{% sass_src 'sass/u.sass' %}" rel="stylesheet" type="text/css">{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="u">
        <div class="u__container">
            <div class="u__content" style="justify-content: center; gap: 40px;">
                <p class="u-title">Mailing Admin Panel</p>
                <div class="u-help" style="">
                    <div class="u__fields" style="width: 100%;">
                        <a href="{% url 'mailing_create' %}" class="u-submit">Mailing Create</a>
                        <a href="{% url 'mailing_management' %}" class="u-submit">Mailing Management</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
