{% extends 'task_api/base.html' %}
{% load static %}
{% load sass_tags %}

{% block title %}Mailing Management{% endblock %}
{% block link_style %}<link href="{% sass_src 'sass/u.sass' %}" rel="stylesheet" type="text/css">{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="u">
        <div class="u__container">
            <div class="u__content" style="justify-content: center; gap: 40px;">
                <p class="u-title">Mailing Management</p>
                <div class="u-help" style="">
                    <div class="u__fields" style="width: 100%;">
                    <p class="u-text4" style="padding: 0 4em; max-width: 500px;">The green stroke indicates a completed mailing list. To update the mailing list data, click 'UPDATE'. To get message statistics, click 'Msgs'.</p>
                    {% for mailing in mailings %}
                        <form action="{% url 'mailing_management' %}" method="post" enctype="multipart/form-data" style="
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            padding: 10px 20px;
                            gap: 5px;
                            border-radius: 15px;
                            {% now "Y-m-d\TH:i" as today_date %}
                            {% if today_date > mailing.date_end|date:"Y-m-d\TH:i" %}
                            border: 2px solid #5fff5f;
                            {% else %}
                            border: 2px solid #797979;
                            {% endif %}
                            ">{% csrf_token %}

                            <div style="display: flex;flex-direction: row; gap: 10px;justify-content: center;">
                                <p class="u-text4" style="color: #f5f5f5 !important; text-align: center">ID:</p>
                                <input type="text" readonly class="u-text4" style="background: rgba(0,0,0,0);" value="{{ mailing.id }}" name="id">
                            </div>

                            <p class="u-text4" style="color: #f5f5f5 !important; text-align: center;">Time to start/end mailing</p>
                            <div style="display: flex;flex-direction: column; gap: 0;justify-content: center;">
                                <div style="display: flex;flex-direction: row;gap: 20px;justify-content: center;">
                                    <p class="u-text2" style="">Start:</p>
                                    <input readonly class="u-text4" value="{{ mailing.date_start|date:"Y-m-d\TH:i" }}" type="datetime-local"style="filter: invert(0.9)">
                                </div>
                                <div style="display: flex;flex-direction: row;gap: 20px;justify-content: center;">
                                    <p class="u-text2" style="">End:</p>
                                    <input class="u-text4" value="{{ mailing.date_end|date:"Y-m-d\TH:i" }}" type="datetime-local" style="filter: invert(0.9)"  name="date_end">
                                </div>
                            </div>

                            <p class="u-text4" style="color: #f5f5f5 !important; text-align: center;">Time to send msgs</p>
                            <div style="display: flex;flex-direction: column; gap: 0;justify-content: center;">
                                <div style="display: flex;flex-direction: row;gap: 20px;justify-content: center;">
                                    <p class="u-text2" style="">Start:</p>
                                    <input class="u-text4" value="{{ mailing.time_start_point|date:"H:i" }}" type="time"style="filter: invert(0.9)" name="time_start_point">
                                </div>
                                <div style="display: flex;flex-direction: row;gap: 20px;justify-content: center;">
                                    <p class="u-text2" style="">End:</p>
                                    <input class="u-text4" value="{{ mailing.time_end_point|date:"H:i" }}" type="time" style="filter: invert(0.9)" name="time_end_point">
                                </div>
                            </div>

                            <div style="display: flex;flex-direction: row; gap: 10px;justify-content: center;">
                                <p class="u-text4" style="color: #f5f5f5 !important;">Filter:</p>
                                <p class="u-text4">{{ mailing.filter }}</p>
                            </div>

                            <label style="display: flex; flex-direction: column; justify-content: center;">
                                <textarea required class="u__field no_scrollbar u_input" name="msg" rows="80" cols="80"
                                          style="
                                                min-width: 90%;
                                                max-width: 250px;
                                                min-height: 50px;
                                                margin-top: 10px;
                                                padding: 0.3em 0.6em;"
                                placeholder="Message">{{ mailing.msg }}</textarea>
                            </label>

                            <div style="display: flex; flex-direction: row; justify-content: center; gap: 15px;">
                                <input type="submit" class="u-submit3" value="UPDATE" style="">
                                <a href="{% url 'mailing_msgs' pk=mailing.id%}" class="u-submit3">Msgs</a>
                            </div>
                        </form>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
