{% extends 'task_api/base.html' %}
{% load static %}
{% load sass_tags %}

{% block title %}Login{% endblock %}
{% block link_style %}<link href="{% sass_src 'sass/u.sass' %}" rel="stylesheet" type="text/css">{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="u">
        <div class="u__container">
            <div class="u__content" style="justify-content: center; gap: 40px;">
                <p class="u-title">Login</p>
                <div class="u-help" style="">
                    <form class="u__form" method="post" enctype="multipart/form-data"
                          action="{% url 'login' %}">{% csrf_token %}
                        {% if invalid %}
                        <span class="invalid">{{ invalid }}</span>
                        {% endif %}
                        <div class="u__fields" style="width: 100%;">
                            <input type="text" class="u__field" required placeholder="Username" name="username">
                            <input type="password" class="u__field" required placeholder="Password" name="password">

                            <input type="submit" class="u-submit2" value="Sign in">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
